.wrapBtns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: fixed;
}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: rgb(47, 47, 47);
}

.Ctn_Card {
  display: flex;

  flex-wrap: wrap;
}

.lil_Ball {
  background-color: red;

  width: 20px;
  height: 20px;

  border-radius: 100%;
  margin-left: 1rem;
}

.lil_Ball_On {
  background-color: rgb(38, 225, 38);

  width: 20px;
  height: 20px;

  border-radius: 100%;
  margin-left: 1rem;
}

.subtitle {
  display: flex;
  justify-content: space-around;
}

.display {
  display: flex;
  align-items: center;
}

.containerAPI {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}